In [109]:
import pandas as pd
from sklearn import datasets
import statsmodels.api as sm
from estimagic_stargazer.stargazer import Stargazer 
from IPython.core.display import HTML, Latex
from tabulate import tabulate
from collections import namedtuple

diabetes = datasets.load_diabetes()
df = pd.DataFrame(diabetes.data)
df.columns = ['Age', 'Sex', 'BMI', 'ABP', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6']
df['target'] = diabetes.target

est = sm.OLS(endog=df['target'], exog=sm.add_constant(df[df.columns[0:4]])).fit()
est2 = sm.OLS(endog=df['target'], exog=sm.add_constant(df[df.columns[0:6]])).fit()

stargazer = Stargazer([est, est2])

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2223: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [95]:
est.conf_int()

                0           1
const  146.526671  157.740298
Age    -88.775663  163.258084
Sex   -228.678572   15.523532
BMI    658.594255  915.764371
ABP    280.088446  553.259097

In [4]:
targets1 = []

for m in [est,est2]:
    if not isinstance(m, RegressionResultsWrapper):
        raise ValueError('Please use trained OLS models as inputs')
    targets1.append(m.model.endog_names)

In [11]:
est.model.name

AttributeError: 'OLS' object has no attribute 'name'

In [7]:
 targets1.count(targets1[0])

TypeError: count() takes exactly one argument (0 given)

In [12]:
from collections import namedtuple

In [48]:
nt = namedtuple('nt', 'f1 f2')

In [49]:
nr=nt(f1={**dictt},f2=5)

In [64]:
nr.f1['gg']

9

In [77]:
import numpy as np

In [78]:
x= np.array((3,2))

In [79]:
x

array([3, 2])

In [96]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])

In [97]:
df1.columns=['s','s2']

In [98]:
df1

   s  s2
0  a   1
1  b   2

In [100]:
def extract_params_from_sm(model):
    to_concat = []
    params_list = ['params', 'pvalues','bse']
    for col in params_list:
        to_concat.append(getattr(model, col))
    to_concat.append(model.conf_int()[0])
    to_concat.append(model.conf_int()[1])
    params_df = pd.concat(to_concat, axis=1)
    params_df.columns = ['value','pvalue','standard_error','ci_lower','ci_upper']
    return params_df

In [101]:
extract_params_from_sm(est)

            value         pvalue  standard_error    ci_lower    ci_upper
const  152.133484  2.048808e-193        2.852749  146.526671  157.740298
Age     37.241211   5.616557e-01       64.117433  -88.775663  163.258084
Sex   -106.577520   8.695658e-02       62.125062 -228.678572   15.523532
BMI    787.179313   5.345260e-29       65.424126  658.594255  915.764371
ABP    416.673772   4.245663e-09       69.494666  280.088446  553.259097

In [104]:
def extract_params_from_sm(model):
    to_concat = []
    params_list = ['params', 'pvalues','bse']
    for col in params_list:
        to_concat.append(getattr(model, col))
    to_concat.append(model.conf_int()[0])
    to_concat.append(model.conf_int()[1])
    params_df = pd.concat(to_concat, axis=1)
    params_df.columns = ['value','pvalue','standard_error','ci_lower','ci_upper']
    return params_df
def extract_info_from_sm(model):
    info = {}
    key_values = ['rsquared', 'rsquared_adj','scale','fvalue','f_pvalue','df_model','df_resid']
    for kv in key_values:
        info[kv] = getattr(model,kv)
    return info

In [105]:
extract_info_from_sm(est)

{'rsquared': 0.40026108237714,
 'rsquared_adj': 0.39477148130050055,
 'scale': 3597.073627844212,
 'fvalue': 72.91259907398705,
 'f_pvalue': 2.700722880950139e-47,
 'df_model': 4.0,
 'df_resid': 437.0}

In [113]:
mod_nt = namedtuple("namedtuple", "params info")
mod = mod_nt(
                        params=extract_params_from_sm(est),
                        info={**extract_info_from_sm(est)},
                    )

In [114]:
mod

namedtuple(params=            value         pvalue  standard_error    ci_lower    ci_upper
const  152.133484  2.048808e-193        2.852749  146.526671  157.740298
Age     37.241211   5.616557e-01       64.117433  -88.775663  163.258084
Sex   -106.577520   8.695658e-02       62.125062 -228.678572   15.523532
BMI    787.179313   5.345260e-29       65.424126  658.594255  915.764371
ABP    416.673772   4.245663e-09       69.494666  280.088446  553.259097, info={'rsquared': 0.40026108237714, 'rsquared_adj': 0.39477148130050055, 'scale': 3597.073627844212, 'fvalue': 72.91259907398705, 'f_pvalue': 2.700722880950139e-47, 'df_model': 4.0, 'df_resid': 437.0})

In [108]:
mod.params

            value         pvalue  standard_error    ci_lower    ci_upper
const  152.133484  2.048808e-193        2.852749  146.526671  157.740298
Age     37.241211   5.616557e-01       64.117433  -88.775663  163.258084
Sex   -106.577520   8.695658e-02       62.125062 -228.678572   15.523532
BMI    787.179313   5.345260e-29       65.424126  658.594255  915.764371
ABP    416.673772   4.245663e-09       69.494666  280.088446  553.259097

In [115]:
type(mod)

__main__.namedtuple

In [111]:
mod.type

AttributeError: 'mod_nt' object has no attribute 'type'

In [125]:
SomeThing = namedtuple('SomeThingg', 'prop another_prop')

False

In [130]:
isinstance(a, tuple)

True

In [126]:
def isnamedtupleinstance(x):
    t = type(x)
    b = t.__bases__
    if len(b) != 1 or b[0] != tuple: return False
    f = getattr(t, '_fields', None)
    if not isinstance(f, tuple): return False
    return all(type(n)==str for n in f)

In [131]:
isnamedtupleinstance((1,2))

False

In [129]:
type(a) == __main__.SomeThingg

NameError: name '__main__' is not defined